/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
!/tmp/pids/
!/tmp/pids/.keep
/storage/*
!/storage/.keep
/node_modules
/.DS_Store
/.bundle
/.dev
/.env
/.env.*
!/.env.production.example
/.idea/
/.vscode/
/coverage/
/frontend/.vite/
/frontend/dist/
/frontend/node_modules/
/vendor/bundle
/config/master.key
/db/*.sqlite3
/db/*.sqlite3-*
*.orig
*.swp
*.swo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
